<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUJER</title>
</head>
<body>
    <header>
        <h1>MUJER</h1>
    </header>
    <main>
        <div>
            <h2>
                Botas y Botinetas
            </h2>
        </div>
        <div>
            <h2>
                Zapatillas
            </h2>
        </div>
        <div>
            <h2>
                Texanas
            </h2>
            <div>
                <h2>
                    Artesanales
                </h2>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>