<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUJER</title>
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Roboto&family=Roboto+Flex:opsz,wght@8..144,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@300&family=Roboto&family=Roboto+Flex:opsz,wght@8..144,200&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <h1>MUJER</h1>
    </header>
    <main>
        <div class="container-padre">
            <div class="banner-altas">
                <img class="img-banner" src="/img/texanas.png" alt="texanas">
            </div>
            
            <div class="flex-column">
                <div class="banner-cortas">
                    <img class="img-banner" src="/img/borsegos.png" alt="borsegos">
                </div>
                <div class="banner-cortas">
                    <img class="img-banner" src="/img/zapatillas}.png" alt="zapatillas">
                </div>
            </div>
            <div class="banner-altas">
                <img class="img-banner" src="/img/botas.png" alt="botas">
            </div>
        </div>
    </main>
    <footer>
        <div class="container-footer">
            <div class="hijos-footer">
                <i class="fas fa-credit-card icons"></i>
                <p> 3|6 cuotas sin interés</p>
            </div>
            <div class="hijos-footer">
                <i class="fas fa-shipping-fast icons"></i>
                <p> Envíos gratis a partir de $9000</p>
            </div>
            <div class="hijos-footer">
                <i class="fas fa-percent icons"></i>
                <p> 15% de descuento con transferencia </p>
            </div>
        </div>
        <p class="designed-footer">DESIGNED BY AGLUPA 2022</p>
    </footer>
</body>
</html>