/*----------------MAIN--------------------*/

h1 {
    font-family: 'Montserrat', sans-serif;    
    color: black;
    text-align: center;
    margin: 0px;
    padding: 5px;
    display: block;
}
.cajita{
    flex-direction: row;
    flex-wrap: nowrap;
    width: 150%;
    display: flex;
    align-items: center;
    margin-top: 5%;
   /*  padding: 10px; */
    /* justify-content: space-between; */
    /* border: solid 1px rgb(118, 118, 118); */
    justify-content: space-between;
   /*  margin-left: 10%; */
   /*  margin-right: 10%; */
 /*    margin-left: 5%; */

}
.desc{
    margin-top: 5%;
    padding: 10px;
   /*  border: solid 1px rgb(118, 118, 118); */
}

.tex{
    flex-direction: column;
    display: flex;
    /* width: 1500%; */
    /* height: 1000%; */
}

.listados{
    flex-direction: column;
    width: 35%;
    margin-left: -15%;
}

.pequeño{
    border: solid 1px rgb(118, 118, 118);
    padding: 10px;
    width: 50%;
    margin-left: 2%;
}

/* .detalles{ */
/*     width: 85%; */
/* } */

.categoria{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 10px;

  /*   border: solid 1px rgb(118, 118, 118); */
}

.bot{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.detalles{
    font-weight: bold;
}

.foti{
    padding: 10px;
}

@media (min-width:361px){
    /*----------------MOBILE-MAIN------*/
    h1 {
        font-size: 50px;
    }
    .hijo{
        width: 361px;
    }
}

@media (min-width:769px){
    h1 {
        font-size: 70px;
    }
    h6 {
        font-size: 20px;
    }
}