/*----------------MAIN--------------------*/

h1 {
    font-family: 'Montserrat', sans-serif;    
    color: black;
    text-align: center;
    margin: 0px;
    padding: 5px;
    display: block;
}

.hijo{

    flex-direction: row;
    flex-wrap: nowrap;
    width: 150%;
    display: flex;
    align-items: center;
    margin-top: 5%;

}
.descripcion{
    border: solid 1px rgb(118, 118, 118);
}

.texto{
    flex-direction: column;
    display: flex;
    width: 1500%;
    height: 1000%;
}

.detalles{
    flex-direction: column;
    width: 35%;
    margin-left: -15%;
}

.form-input{
    border: solid 1px rgb(118, 118, 118);
}

.form-label{
    width: 85%;
}

.categoria{
    display:flex;

}


@media (min-width:361px){
    /*----------------MOBILE-MAIN------*/
    h1 {
        font-size: 50px;
    }
    .input-hijo{
        width: 361px;
    }
}
@media (min-width:769px){
    h1 {
        font-size: 70px;
    }
    h6 {
        font-size: 20px;
    }
}

