/*----------DIV PADRE--------*/
.container-detail{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}
/*----------DIV HIJOS-----------*/
.div-img-detail{
    width: 50%;
    height: auto;
}
.div-info-detail{
    width: 50%;
    box-sizing: border-box;
}
/*-------CLASES INDIVIDUALES---------*/
.img-detail{
    margin: auto;
    width: 100%;
    border-radius: 4px;
}
.name-detail{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #434343;
    text-align: center;

}
.description-detail{
    font-family: "Roboto",sans-serif;
    color: #434343;
    text-align: start;
}
.price-detail{
    font-family:"Roboto,sans-serif";
    font-weight: bold;
    text-align: center;
    color:#bc9c84;
    border:1px solid #bc9c8489;
    padding: 5px;
}
.icons-detail{
    text-align: start;
    color: #434343;
}

.detailEditar{
color:#434343;
}

.detailComprar{
    color:#434343;
    border:1px solid #bcbcbc;
    border-radius: 5px;
    padding: 5px;
}

/*-----------MEDIA QUERYS--------------*/
@media (min-width: 375px) {
    .div-img-detail{
        padding: 5px;
    }
    .img-detail{
        height: 200px;
    }
    .div-info-detail{
        padding: 5px;
    }
    .container-detail{
        width: 100%;
    }
    .name-detail{
        font-size:20px;
    }
    .description-detail{
        font-size: 12px;
    }
    .price-detail{
        font-size:12px;
    }
    .icons-detail{
        font-size: 12px;
    }
    .detailComprar{
        font-size: 12px;
    }
}
@media (min-width: 720px) {
    .div-img-detail{
        padding: 20px;
    }
    .div-info-detail{
        padding: 10px;
    }
    .container-detail{
        width: 80%;
    }
    .name-detail{
        font-size: 30px;
    }
    .description-detail{
        font-size: 17px;
    }
    .price-detail{
        font-size:20px;
    }
    .icons-detail{
        font-size: 17px;
    }
    .detailEditar{
        font-size: 25px;
    }
}