header {
    width: 100%;
    padding: 0px;
    height: auto;
    background-color:#e0be3693;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.logo-header{
    text-align:start;
}
.img-logo{
    width: 20%;
    height: auto;
}
.buscador{
    display: flex;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(125, 125, 125);
    cursor: pointer;
  }
.container-header{
    display: flex;
    flex-wrap: wrap;
}
.container-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.ul-derecha{
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 30%;
}
.hijos-ul-derecha{
    padding: 5px;
    list-style: none;
    text-decoration: none;
}
.a-header{
    color: white;
    font-family: 'roboto';
    margin: 8px;
}
.a-header:hover{
    color:rgb(70, 70, 70);
    text-decoration: none;
}
.barra-busqueda {
    border: white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    box-sizing: border-box;
}
.burger-menu {
    display: flex;
    width: 100%;
    justify-content: center;
}
.menu{
    color: white;
    background-color: #e0be36;
    padding: 10px;
    border-radius: 10%;
    margin: 10px;
}
/*------------------------------MEDIA 361PX----------------------------*/
@media (min-width:361px){
    nav {
        display: none;
    }
    .logo-header {
        width: 90%;
    }
    .buscador {
        width: 10%;
        color: #666;
    }
}
/*--------------------------- MEDIA 769PX--------------------------------*/
@media (min-width: 769px){
    nav {
        display: block;
    }
    .menu {
        display: none;
    }
    .logo-header {
        width:50%;
    }
    .buscador {
        color: #666;
        width:50%;
    }
    .a-header{
        font-size:18px;
    }
}