body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header {
    width: 100%;
    padding: 0px;
    height: auto;
    background-color:#e0be3693;
}
.container-logo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.fa-search{
    color: white;
}
.buscador{
    position: absolute;
    left: 5%;
    top: 5%;
}
.barra-busqueda {
    border: white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right:15;
    padding-top:10px;
    padding-bottom:10px;
    margin: 3px;
    box-sizing: border-box;
}
.container-carrito{
    position: absolute;
    right: 5%;
    top: 5%;
}
.carrito{
    color:white;
}
.carrito:hover{
    color: rgb(125, 125, 125);
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(125, 125, 125);
    cursor: pointer;
  }
.container-header{
    display: flex;
    flex-wrap: wrap;
}
.container-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.ul-derecha{
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 30%;
}
.hijos-ul-derecha{
    padding: 5px;
    list-style: none;
    text-decoration: none;
}
.a-header{
    color: white;
    font-family: 'roboto';
    margin: 8px;
}
.a-header:hover{
    color:rgb(70, 70, 70);
    text-decoration: none;
}
/*------------------------------MEDIA 361PX----------------------------*/
@media (min-width:361px){
    nav {
        display: none;
    }
    .img-logo{
        width: 15%;
        height: auto;
    }
    .buscador{
        display: none;
    }
    .carrito{
        font-size: 20px;
    }
    .burger-menu {
        position: absolute;
        left: 5%;
        top: 5%;
    }
    .menu{
        color: white;
        background-color: #e0be36;
        padding: 10px;
        border-radius: 10%;
        margin: 0px;
    }
}
/*--------------------------- MEDIA 769PX--------------------------------*/
@media (min-width: 769px){
    nav {
        display: block;
    }
    .img-logo{
        width: 13%;
        height: auto;
    }
    .menu {
        display: none;
    }
    .a-header{
        font-size:18px;
    }
    .buscador{
        display: block;
    }
    .barra-busqueda{
        font-size: 15px;
    }
    .carrito{
        font-size: 25px;
    }
}