/*-----------GENERALES-----------*/
* {
    font-family: Roboto;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
/*     background-color: rgba(126, 86, 13, 0.24) !important; */

}
.banner_home{
    width: 100%;
}
ul{
    list-style: none;
}
/*MAIN*/
.contenedor-imagen-principal {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.imagen-producto:hover{
    box-shadow: 3px 3px 3px 3px #bc9c84;
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.seccion-articulos{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}
.articulo-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.div-img-home{
    width: 100%;
}
.imagen-producto {
    width: 100%;
    height: 100%;
}
.div-descripcion{
    width: 100%;
    height: auto;
    background-color: rgba(128, 128, 128, 0);
    padding: 5px;
}
.nombre-articulo{
    font-weight: bold;
    color: #434343;
}
.descuentos {
    margin: center;
    width: 100%;
    color: black;
}
.precio {
    margin: center;
    margin-right: 10px;
    width: 100%;
    color: black;
}
/*------------------------MEDIA QUERYS------------------*/
@media (min-width: 375px) {
    .contenedor-imagen-principal{
        width:100%;
        height:auto;
    }
    .img-mobile{
        width: 100%;
        height: auto;
        display: block;
    }
    .imagen-principal{
        display: none;
    }
    .ul{
        width: 100%;
        font-size: 12px;
    }
    .h2-home{
            font-family: 'Montserrat', sans-serif;
            color:#434343;
            text-align: center;
            padding: 0px;
            width: 100%;
            font-size: 35px;
    }
    .articulo-container {
        width: 45%;
        height:auto;
        margin: 5px;
        padding: 5px;
    }
    .div-img-home{
        width: 100%;
        height: 200px;
    }
}

@media (min-width: 720px) {
    .contenedor-imagen-principal{
        width:100%;
        height:auto;
        margin-top: 12%;
    }
    .img-mobile{
        display: none;
    }
    .imagen-principal{
        display: block;
        width: 100%;
        height: auto;
    }
    .ul{
        width: 55%;
        font-size: 18px;
    }
    .h2-home{
        font-size: 65px;
    }
    .articulo-container {
        width: 15%;
        margin: 20px;
    }
    .div-img-home{
        width: 100%;
        height: 250px;
    }
}



