/*-----------GENERALES-----------*/
* {
    font-family: Roboto;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.banner_home{
    width: 100%;
}
ul{
    list-style: none;
}
/*MAIN*/
.contenedor-imagen-principal {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.div-descripcion {
    width:50%;
    background-color:white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.144);
}
.imagen-producto:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.541);
}
.dropdown-menu {
    background-color: red;
}
.nombre-articulo{
    font-weight: bold;
}
.descuentos {
    margin: center;
    margin-right: 10px;
    width: 60%;
    color: black;
}
.precio {
    margin: center;
    margin-right: 10px;
    width: 50%;
    color: black;
}
@media (min-width: 375px) {
    .contenedor-imagen-principal{
        width:100%;
        height:auto;
    }
    .img-mobile{
        width: 100%;
        height: auto;
        display: block;
    }
    .imagen-principal{
        display: none;
    }
    .ul{
        width: 100%;
        font-size: 12px;
    }
    .seccion-articulos{
        width: 100%;
        height: auto;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .articulo-container {
        width: 45%;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .imagen-producto {
        width: 50%;
        height: auto;
    }
}

@media (min-width: 720px) {
    .contenedor-imagen-principal{
        width:100%;
        height:auto;
        margin-top: 12%;
    }
    .img-mobile{
        display: none;
    }
    .imagen-principal{
        display: block;
        width: 100%;
        height: auto;
    }
    .ul{
        width: 55%;
        font-size: 18px;
    }
}



