/*-----------GENERALES-----------*/
* {
    font-family: Roboto;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(128, 128, 128, 0.062);

}
.banner_home{
    width: 100%;
}
ul{
    list-style: none;
}
/*MAIN*/
.contenedor-imagen-principal {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.imagen-producto:hover{
    box-shadow: 3px 3px 3px 3px #bc9c84;
}
.nombre-articulo{
    font-weight: bold;
    color: #434343;
}
.descuentos {
    margin: center;
    width: 100%;
    color: black;
}
.precio {
    margin: center;
    margin-right: 10px;
    width: 100%;
    color: black;
}
/*------------------------MEDIA QUERYS------------------*/
@media (min-width: 375px) {
    .contenedor-imagen-principal{
        width:100%;
        height:auto;
    }
    .img-mobile{
        width: 100%;
        height: auto;
        display: block;
    }
    .imagen-principal{
        display: none;
    }
    .ul{
        width: 100%;
        font-size: 12px;
    }
    .h2-home{
            font-family: 'Montserrat', sans-serif;
            color:#434343;
            text-align: center;
            padding: 0px;
            width: 100%;
            font-size: 35px;
    }
    .seccion-articulos{
        width: 100%;
        height: auto;
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .articulo-container {
        width: 45%;
        height:auto;
        display: flex;
        justify-content: center;
        margin: 5px;
        padding: 5px;
    }
    .imagen-producto {
        width: 100%;
        height: auto;
        border-radius: 100px;
    }
    .div-descripcion {
        width:100%;
        height: auto;
        background-color: rgba(128, 128, 128, 0);
        *box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.144);
        padding: 5px;
        
    }
}

@media (min-width: 720px) {
    .contenedor-imagen-principal{
        width:100%;
        height:auto;
        margin-top: 12%;
    }
    .img-mobile{
        display: none;
    }
    .imagen-principal{
        display: block;
        width: 100%;
        height: auto;
    }
    .ul{
        width: 55%;
        font-size: 18px;
    }
    .h2-home{
        font-size: 65px;
    }
    .seccion-articulos{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
    }
    .articulo-container {
        width: 23%;
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .imagen-producto {
        width: 100%;
        height: 100%;
    }
    .div-descripcion {
        width:100%;
        height: 100%;
    }
}



