/*----------------MAIN--------------------*/
button{
    margin-bottom: 5%;
    border-radius: 50%;
    background-color: #e3cc73;
    border: #e3cc73;
}
button:hover{
    background-color: #e9c120;
}
.login{
    margin: 20px;
}