/*----------------MAIN--------------------*/
.h1-ingresa{
    color: #434343;
}
button{
    margin-bottom: 5%;
    border-radius: 50%;
    background-color:#bc9c84;
    border: #bc9c84;
}
button:hover{
    background-color: #bc9c84c5;
}
.login{
    margin: 20px;
}