/*------------HEADER-------------*/
.header {
    width: 100%;
    opacity: 95%;
}
.divmain{
    padding: 10px;
}
.logo{
    width: 50%;
    max-width: 740px;
}
.contenedor-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #99868031;
}
.contenedor-imagen-principal{
    width: 100%;
}
.imagen-principal{
    width: 100%;
    opacity: 80%;
}
.carrito{
    color:black;
    font-size: 23px;
}
.carrito:hover {
    color: rgba(0, 0, 0, 0.315);
}
/* ----------NAVBAR-------*/
.navbar {
    width: 100%;
    color: #E0BE36;
    background-color:#e0be367a; 
    display: flex;
    opacity: 90%;
    flex-direction: row-reverse;
    padding: 20px;
}
.mr-sm-2 {
    border-radius: 10%;
}
.div-form {
    width: 100%;
}
.form-inline {
    border-radius: 10%;
    width: 100%;
}
.bg-light {
    border-radius: 5%;
}
/*----------------MAIN--------------------*/
.titulo-shop {
    display: flex;
    justify-content: center;
}
h1 {
    font-family: 'Cormorant Garamond', serif;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 5px;
}
.div-banner {
    margin: 15px;
}
.banner {
    width: 100%;
    height: auto;
    padding: 5px;

}
p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
    font-weight: bold;
    text-align: center;
}
h4 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    margin: 0px;
    color: black;
    overflow:hidden;
    text-align: center;
}
body {
    background-color: rgb(255, 249, 199);
}
.container-padre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    margin: 0px;
    padding: 0px;
}
.img-banner {
    width: 100%;
    height: auto;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
/*-------------FOOTER--------------------*/
.container-footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hijos-footer {
    border: 1px solid #dfdfdf;
    text-align: center;
    padding: 50px;
}
.titulo-footer {
    font-family: 'Montserrat', sans-serif;
}
.icons {
    text-align: center;
    color: black;
    padding: 5px;
}
.icons:hover {
    color: #47525e6d;
}
.newsletter {
    text-align: center;
    padding: 60px;
    width: 50%;
}
.contacto {
    text-align: center;
    width: 50%;
    padding: 60px;
}
.p-contacto {
    text-align: center;
}
.div-designed {
    margin: 0px;
    background-color:#e0be3686;
    width: 100%;
}
.designed {
    color: black;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.button-footer {
    background-color: rgb(58, 58, 58);
    border:rgb(58, 58, 58);
    color: white;
    border-radius: 2px;
    padding: 5px;
}
.button-footer:hover {
    background-color:rgba(58, 58, 58, 0.582);
}
.input-email{
    border: white;
    padding: 5px;
    margin: 5px;
}
@media (min-width:361px){
    /*----------------MOBILE-MAIN------*/
    h1 {
        font-size: 50px;
    }
    .banner-altas {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        margin: 5px;
        box-shadow: 0px 0px 10px rgb(199, 199, 199);
    }
    .banner-cortas {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        margin: 5px;
        box-shadow: 0px 0px 10px rgb(199, 199, 199);
    }
    /*-----------MOBILE-FOOTER-----------*/
    .container-footer {
        justify-content: center;
        width: 100%;
    }
    .hijos-footer {
        width:100%;
        height: auto;
    }
    .titulo-footer {
        font-size: 15px;
    }
    .div-designed{
        padding: 20px;
    }
    .designed{
        font-size: 15px;
    }
    .newsletter {
        padding: 25px;
        width: 100%;
    }
    .contacto{
        padding: 25px;
        width: 100%;
    }
}
@media (min-width:769px){
    h1 {
        font-size: 70px;
    }
    .banner-altas{
        box-shadow: none;
        width: 470px;
        height: auto;
    }
    .banner-altas:hover {
        box-shadow: 0px 0px 10px rgb(199, 199, 199);
    }
    .banner-cortas{
        box-shadow: none;
        width: 215px;
        height: auto;
    }
    .banner-cortas:hover{
        box-shadow: 0px 0px 10px rgb(199, 199, 199);
    }
    .container-footer {
        width: 100%;
        height: auto;
    }
    .hijos-footer{
        width: 33%;
        height: auto;
    }
    .titulo-footer {
        font-size: 18px;
    }
    .div-designed {
        padding: 60px;
    }
    .designed {
        font-size: 18px;
    }
    .newsletter {
        padding: 60px;
        width: 50%;
    }
    .contacto{
        padding: 60px;
        width: 50%;
    }
    h6 {
        font-size: 20px;
    }
}