/*----------------MAIN--------------------*/
.titulo-shop {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.h1-productos{
    font-family: 'Montserrat', sans-serif;
    color:#434343;
    text-align: center;
    padding: 0px;
    width: 100%;
}
.div-banner {
    display: none;
    justify-content: center;
    width: 100%;
    height: 450px;
    margin-top:30px;
}
.banner {
    width: 100%;
    height: auto;
}
/* p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
    text-align: center;
} */
.h4-produc.h1-productos{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: #434343;
    text-align: center;
}
.container-padre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.banner-altas:hover {
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}
.banner-cortas:hover{
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}
.banner-cortas {
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.img-banner {
    width: 100%;
    height: auto;
}
/*-------------FOOTER--------------------*/
.container-hijos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.hijos-footer {  
    border: 1px solid #dfdfdf;
    text-align: center;
}
.titulo-footer {
    font-family: 'Roboto', sans-serif;
    color: #434343;
}
.icons {
    text-align: center;
    color: #3b3a3a;
    padding: 5px;
}
.icons:hover {
    color: #47525e6d;
}
.container-newletter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.newsletter {
    text-align: center;
    padding: 40px;
}
.contacto {
    text-align: center;
    padding: 40px;
}
.p-contacto {
    text-align: center;
}
.div-designed {
    margin: 0px;
    background-color: #bc9c84b7;
    /* width: 100%; */
}
.designed {
    color: #313131;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.button-footer {
    background-color: rgb(58, 58, 58);
    border:rgb(58, 58, 58);
    color: white;
    border-radius: 2px;
    padding: 5px;
}
.button-footer:hover {
    background-color:rgba(58, 58, 58, 0.582);
}
.input-email{
    background-color: rgb(205, 201, 201);
    padding: 5px;
    margin: 5px;
    color: white;
}
/*----------------MEDIA QUERYS------------------*/
@media (min-width:361px){
    /*----MAIN----*/
    .h1-productos {
        font-size: 35px;
    }
    h4 {
        font-size: 90%;
    }
    .banner-altas {
        width: 80%;
        height: auto;
        padding: 10px;
        margin: 5px;
    }
    .flex-column {
        width: 80%;
        height: auto;
        margin: 5px;
        padding: 10px;
    }
    .banner-cortas {
        width: 100%;
        height: auto;
    }
     /*----FOOTER----*/
    .hijos-footer {
        width:100%;
        height: auto;
        padding: 50px;
    }
    .titulo-footer {
        font-size: 15px;
    }
    .div-designed{
        padding: 20px;
    }
    .designed{
        font-size: 15px;
    }
    .newsletter {
        padding: 25px;
        width: 100%;
    }
    .contacto{
        padding: 25px;
        width: 100%;
    }
}
@media (min-width:769px){
     /*----MAIN----*/
    .h1-productos {
        font-size: 60px;
    }
    h4{
        font-size:20px;
    }
    .banner-altas{
        width: 30%;
        height: auto;
        margin: 5px;
    }
    .flex-column {
        width: 13%;
        height: auto;
        margin: 5px;
    }
     /*----FOOTER----*/
    .hijos-footer{
        width: 33%;
        height: auto;
        padding: 50px;
    }
    .titulo-footer {
        font-size: 18px;
    }
    .div-designed {
        padding: 30px;
    }
    .designed {
        font-size: 20px;
    }
    .newsletter {
        padding: 20px;
        width: 40%;
    }
    .contacto{
        padding: 50px;
        width: 40%;
    }
    h6 {
        color: #434343;
        font-size: 18px;
    }
}