.li-resultados{
    list-style: none;
}
.container-resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.hijos-resultados{
    text-align: center;
    width:200px;
    height:auto;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
.hijos-resultados:hover{
    box-shadow: 3px 3px 3px 3px #bc9c84;
}
.img-resultados{
    width: 100%;
    height:250px;
}
/*.img-resultados:hover{
    box-shadow: 3px 3px 3px 3px #bc9c84;
}*/
.name-resultados{
    font-family:"Roboto,sans-serif";
    font-size:15px;
    color:#434343;
    font-weight: bold;
}
.description-resultados{
    font-family:"Roboto,sans-serif";
    font-size:15px;
    color:#434343;
    text-align: start;
}
.price-resultados{
    font-family:"Roboto,sans-serif";
    font-size:15px;
    font-weight: bold;
    text-align: center;
    color:#bc9c84;
    border:1px solid #bc9c8489;
    padding: 5px;
}
.descuento-resultados{
    font-family:"Roboto,sans-serif";
    font-size:15px;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
    color:#bc9c84;
    padding: 5px;
}
.stock-resultados{
    font-family:"Roboto,sans-serif";
    font-size:15px;
    font-weight: bold;
    color:#434343;
    text-align: start;
}