/*--------container padre---------*/
.container-edit{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 70%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}
/*-----------DIV HIJOS--------*/
.div-img-edit{
    width: 50%;
    padding: 20px;
}
.div-info-edit{
    width: 50%;
    padding: 5px;
}
/*----------CLASES INDIVIDUALES*/
.titulo-edit {
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    color:#434343;
    text-align: center;
}
.img-edit{
    width:100%;
    border-radius: 4px;
}
.name-edit{
    font-size: 12px;
    font-family: "Roboto",sans-serif;
    color: #434343;
    text-align: start;
    width: 100%;
    padding: 5px;
}
.price-edit{
    font-size: 12px;
    font-family: "Roboto",sans-serif;
    color: #434343;
    text-align: start;
    width: 100%;
    padding: 5px;
}
.discount-edit{
    font-size: 12px;
    font-family: "Roboto",sans-serif;
    color: #434343;
    text-align: start;
    width: 100%;
    padding: 5px;
}
.category-edit{
    font-size: 12px;
    font-family: "Roboto",sans-serif;
    color: #434343;
    text-align: start;
    width: 100%;
    padding: 5px;
}
.description-edit{
    font-size: 12px;
    font-family: "Roboto",sans-serif;
    color: #434343;
    text-align: start;
    width: 100%;
    padding: 5px;
}
.foto-edit{
    font-size: 12px;
    font-family: "Roboto",sans-serif;
    color: #434343;
    text-align: start;
    width: 100%;
    padding: 5px;
}
.button-edit{
    border-radius: 5px;
    padding: 10px;
    background-color:#bc9c84;
    border: #bc9c84;
    color: #242424;
    font-weight: bold;
    text-align: center;
}
.button-edit:hover{
    background-color: #bc9c8490;
}