/*MUJER*/
/*HEADER*/
p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}
h4 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
h1 {
    font-family: 'Cardo', serif;
    color: #47525E;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    margin: 0px;
}
.container-div {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.container-banner {
    width: 600px;
    height: auto;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}
.img-banner {
    width: 100%;
    height: auto;
    
}
.img-banner:hover {
    filter: opacity(.9);
}
.container-texanas {
    display: none;
    position: absolute;
    left: 200px;
    top: 550px;
    width: 200px;
}
.container-botas {
    display: none;
    position: absolute;
    right:200px;
    top: 550px;
    width: 200px;
}
.container-zapatillas {
    display: none;
    position: absolute;
    right: 200px;
    top: 500px;
    width: 200px;
}
.container-mocasines {
    display: none;
    position: absolute;
}

/*HASTA ACA VA EL CSS DE MUJER*/