* {
    font-family: Roboto;
}
body {
    width: 100%;
}
.contenedor-logo{
    width: 45%;
    display:flex;
    justify-content: center;
    position: absolute;
    left: 28%;
    top: 260px;
}
.logo {
    width: 100%;
    height:auto;
    justify-content: center;
}
.contenedor-imagen-principal {
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
.imagen-principal {
    width: 100%;
    height: auto;
}
.imagen-producto {
    width: 50%;
    *padding: 50px;
    *margin: auto;
    border-bottom: inset 10px #e0be36ed;
    *border-right: 5px dotted rgb(0, 0, 0);
}
.seccion-articulos {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    *border: solid 1px red;
    *background-image: url("/images/flores.png");
    background-repeat: space;
    background-size: 50%;
}
.descripcion {
    width: 10%;
    *position: relative;
    *right: 40px;
}
.articulo-container {
    *border: 1px solid #e0be367a;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    margin: auto;
    width: 100%;
    *padding: 50px;
    margin-bottom: 50px;
    justify-content: center;
}
.dropdown-menu {
    background-color: red;
}
.descuentos {
    margin: center;
    margin-right: 10px;
    width: 50%;
    font-size: 16px;
    color: red;
}
.precio {
    margin: center;
    margin-right: 10px;
    width: 50%;
    font-size: 15px;
    color: black;
}
@media (min-width: 380px) {
    .articulo-container {
        flex-direction: row;
        padding: 10px;
        width: 50%;
        margin: auto;
    }

    .seccion-articulos {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
    }

    .imagen-producto {
        margin: 0px;
        width: 50%;
    }
}

@media (min-width: 720px) {
    .articulo-container {
        flex-direction: row;
        padding: 10px;
        width: 20%;
        padding: 0%;
        margin: 0px;
    }

    .seccion-articulos {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
        align-items: baseline;
        justify-content: space-between;
    }

    .imagen-producto {
        margin: 0px;
        width: 50%;
    }

    .descripcion {
        width: 10%;
    }
}