/*MUJER*/
/*HEADER*/
p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    font-weight: bold;
}
h4 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: black;
    overflow:hidden;
}
h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #47525E;
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 5px;
}
body {
    background-color: rgb(255, 251, 216);
}
/*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ 
.container-padre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    margin: 0px;
    padding: 0px;
}
.banner-altas {
    width: 400px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}
.banner-cortas {
    width: 300px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.img-banner {
    width: 100%;
    height: 100%;
}
.img-banner:hover {
    filter: opacity(.5);
}
.texto-texanas{
    position: relative;
    bottom: 380px;
    right:20px;
    box-sizing: border-box;
}
.texto-borsegos {
    position: relative;
    bottom: 88px;
    left: 68px;
    box-sizing: border-box;
}
.texto-zapatillas {
    position: relative;
    bottom: 110px;
    left: 68px;
    box-sizing: border-box;
}
.texto-botas {
    position: absolute;
    display: none;
}
/*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/
.designed-footer {
    color: #47525E;
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 20px;
    padding: 20px;
    margin: 0px;
}
.container-footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.hijos-footer {
    border: 1px solid #dfdfdf;
    text-align: center;
    padding: 50px;
    width: 100%;
}
.titulo-footer {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}
.icons {
    text-align: center;
    color: #47525E;
}
.icons:hover {
    color: #47525e6d;
}
/*HASTA ACA VA EL CSS DE MUJER*/