.h2-vistaCarrito{
    color: #434343;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.div-padre-vistaCarrito{
    display: flex;
    flex-direction: column;
    width:80%;
    justify-content: center;
    margin: 20px;
}
.hijos-vistaCarrito{
    display: flex;
    width:100%;
    height: auto;
    border:1px solid rgb(192, 192, 192);
    margin: 15px;
}
.img-vistaCarrito{
    width: 200;
    height:400px;
}
.name-vistaCarrito{
    width: 50%;
    align-self: flex-start;
    padding: 10px;
}

@media (min-width:361px){
    .h2-vistaCarrito{
        font-size: 45px;
    }
}
@media (min-width:769px){
    .main-vistaCarrito{
        margin-top: 15%;
    }
    .h2-vistaCarrito{
        font-size: 65px;
    }
}