.h2-vistaCarrito{
    color: #434343;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
/*-----------DIVS CONTAINERS-------------*/
.div-padre-vistaCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}
.hijos-vistaCarrito{
    display: flex;
}
.hijos-subtotal-vistaCarrito{
    display: flex;
    width: 100%;
    height: auto;
}
.div-img-vistaCarrito{
    width: 20%;
}
.div-izq-vistaCarrito{
    text-align: start;
    width: 40%;
}
.div-der-vistaCarrito{
    text-align: end;
    width: 40%;
}
/*------------CLASES INDIVIDUALES------------*/
.img-vistaCarrito{
    width:100%;
    height:100%;
}
.name-vistaCarrito{
    align-self: flex-start;
    margin: 15px;
    font-size: 20px;
    color: #434343;
}
.cantidad-vistaCarrito{
    display: flex;
    justify-content: space-between;
    border:1px solid #b4b4b4;
}
.fa-minus{
    color: #434343;
}
.fa-plus{
    color: #434343;
}
.cantidad-vistaCarrito:hover{
    border: 1px solid #434343;
}
.fa-trash-alt{
    margin: 15px;
}
.fa-trash-alt:hover{
    color:black;
}
.price-vistaCarrito{
    margin: 15px;
    font-size: 20px;
    color: #434343;
    font-weight: bold;
}
.subtotal-vistaCarrito{
    align-self: flex-start;
    margin-left: 5px;
    font-size: 20px;
    color: #434343;
}
.total-vistaCarrito{
    text-align: end;
    font-size: 20px;
    color: #434343;
    font-weight: bold;
}
/*-------MEDIA QUERYS----------------*/
@media (min-width:361px){
    .h2-vistaCarrito{
        font-size: 35px;
        padding: 10px;
    }
    .div-padre-vistaCarrito{
        width: 90%;
    }
    .hijos-vistaCarrito{
        border: 1px solid #43434372;
        height: 150px;
        margin: 10px;
    }
    .cantidad-vistaCarrito{
        width: 70%;
        margin: 15px;
        padding: 5px;
    }
}
@media (min-width:769px){
    .main-vistaCarrito{
        margin-top: 15%;
    }
    .h2-vistaCarrito{
        font-size: 65px;
        padding: 0px;
    }
    .div-padre-vistaCarrito{
        width:50%;
        border-top:1px solid rgb(192, 192, 192);
        border-bottom:1px solid rgb(192, 192, 192);
    }
    .hijos-vistaCarrito{
        width:100%;
        height:200px;
        margin: 15px;
        border: none;
    }
    .hijos-vistaCarrito:hover{
        border: 1px solid #0000007d;
    }
    .cantidad-vistaCarrito{
        width: 50%;
        margin: 15px;
        padding: 10px;
    }
    .fa-minus:hover{
        color: black;
    }
    .fa-plus:hover{
        color: black;
    }
}