<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
    <%- include('partials/headerNavbar') %>
    <main>
        <div>
            <h1 class="titulo">Crear producto</h1>
         </div>            
            <div>
                <form action="/newProduct" method="POST" enctype="multipart/form-data">
                        <div class="div-hijos">
                            <label for="name">Nombre del producto</label>
                            <input type="text" id="name" name="name" placeholder="Ej Zapatillas Urbanas">
                        </div>
                        <div class="div-hijos">
                            <label for="price">Precio del producto</label>
                            <input type="number" id="price" name="price" placeholder="Ej: 56344">
                        </div>
                        <div class="div-hijos">
                            <label for="discount">Descuento</label>
                            <input type="number" id="discount" name="discount" placeholder="Ej: 40">
                        </div>
                        <div class="div-hijos">
                            <label for="category">Categoría</label>
                            <select name="category" id="category">
                                <option value="">Elegí</option>
                                <option value=1>Texanas</option>
                                <option value=2>Botas</option>
                                <option value=4>Zapatillas</option>
                                <option value=3>Borcegos</option>
                            </select>
                            <label for="description">Descripción</label>
                            <textarea name="description" id="description" class="tex"></textarea>
                        </div>
                        <br>
                            <label for="detail">Foto de producto</label>
                            <br>
                            <input type="file" required name="fotoProducto">
                        </div>
                        <div>
                            <button type="submit" class="botonDeEnviar">Guardar producto</button>
                        </div>                        
                </form>
            </div>
    </main>
    <%- include('partials/footer') %>    
</body>
</html>