<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
    <%- include('partials/headerNavbar') %>
    <main>
        <div class="container products-wrapper">
            <div class="row">
                <div class="">
                    <h1 class="titulo">Crear producto</h1>
                </div>            
            </div>
            <div class="">
                <form action="/productos" method="POST" enctype="multipart/form-data">
                    <div class="listados">
                        <div class="cajita">
                            <label for="name" class="detalles">Nombre del producto</label>
                            <input type="text" id="name" name="name" placeholder="Ej Zapatillas Urbanas" class="pequeño">
                        </div>
                        <div class="cajita">
                            <label for="price" class="detalles">Precio del producto</label>
                            <input type="number" id="price" name="price" placeholder="Ej: 56344" class="pequeño">
                        </div>
                        <div class="cajita">
                            <label for="discount" class="detalles">Descuento</label>
                            <input type="number" id="discount" name="discount" placeholder="Ej: 40" class="pequeño">
                        </div>
                        <div class="cajita">
                            <label for="category" class="detalles">Categoría</label>
                            <select name="category" id="category" class="pequeño">
                                <option value="">Elegí</option>
                                <option value="texanas">Texanas</option>
                                <option value="botas">Botas</option>
                                <option value="zapatillas">Zapatillas</option>
                                <option value="borcegos">Borcegos</option>
                            </select>
                        </div>
                        <div class="desc">
                            <label for="descripcion" class="detalles">Descripción</label>
                            <textarea name="description" id="description" class="tex"></textarea>
                        </div>
                        <br>

                        <div class="">
                            <label for="detail" class="detalles">Foto de producto</label>
                            <br>
                            <input type="file" class="foti" required name="file">
                        </div>

                        <div class="bot">
                            <button type="submit" class="botonDeEnviar">Guardar producto</button>
                            <button type="delete" class="botonDeBorrar">Borrar</button>
                        </div>                        
                    </div>
                </form>
            </div>

        </div>

    </main>
    <%- include('partials/footer') %>    
</body>
</html>