<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/headerNavbar') %>
    <main>
        <div class="contenedor-imagen-principal">
            <img class="imagen-principal" src="/img/1-slide-1651857467224-2756890019-89b1c196b0537ecce073efd4e46c72021651857489-1920-1920.webp" alt="img-banner">
        </div>
        <section class="seccion-articulos">
            <article class="articulo-container">
                <img class="imagen-producto" src="/img/botas.png">
                <div class="div-descripcion">
                    <p class="nombre-articulo">Botas</p>
                    <p class="precio">$11.240</p>
                    <p class="descuentos">15%OFF</p>
                </div>
            </article>
            <article class="articulo-container">
                <img class="imagen-producto" src="/img/borsegos.png">
                    <div class="div-descripcion">
                    <p class="nombre-articulo">Borcegos</p>
                    <p class="precio">$12.240</p>
                    <p class="descuentos">10%OFF</p>
                </div>
            </article>
            <article class="articulo-container">
                <img class="imagen-producto" src="/img/texanas.png">
                <div class="div-descripcion">
                    <p class="nombre-articulo">Texanas</p>
                    <p class="precio">$15.240</p>
                    <p class="descuentos">15%OFF</p>
                </div>
            </article>
            <article class="articulo-container">
                <img class="imagen-producto" src="/img/zapatillas}.png">
                <div class="div-descripcion">
                    <p class="nombre-articulo">Zapatillas</p>
                    <p class="precio">$13.220</p>
                    <p class="descuentos">5%OFF</p>
                </div>
            </article>
        </section>
    </main>
        <%- include('partials/footer') %>
</body>

</html>