<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/headerNavbar') %>
    <main>
        <div class="contenedor-imagen-principal">
            <img class="imagen-principal" src="/img/banner 31-05.jpg" alt="img-banner">
        </div>
        <section class="seccion-articulos">
            <article class="articulo-container">
                <img class="imagen-producto" src="/img/botineta2.png">
                <div class="descripcion">
                    <p class="descuentos">15% OFF</p>
                    <p class="precio">$11.240</p>
                </div>
            </article>
            <article class="articulo-container">
                <img class="imagen-producto" src="/img/sicura.png">
                <div class="descripcion">
                    <p class="descuentos">10% OFF</p>
                    <p class="precio">$12.240</p>
                </div>
            </article>
            <article class="articulo-container">
                <img class="imagen-producto" src="/img/zapatilla23.png">
                <div class="descripcion">
                    <p class="descuentos">15% OFF</p>
                    <p class="precio">$15.240</p>
                </div>
            </article>
            <article class="articulo-container">
                <img class="imagen-producto" src="/img/zapatillamujer1.png">
                <div class="descripcion">
                    <p class="descuentos">5% OFF</p>
                    <p class="precio">$13.220</p>
                </div>
            </article>
        </section>
    </main>
 
        <%- include('partials/footer') %>
</body>

</html>