<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/headerNavbar') %>
      <main>
        <h1 class="h1-ingresa">Ingresá</h1>
        <% if (typeof errors !="undefined" ){%>
          <p style="color:red">ERROR</p>
          <ul>
            <% for (let i=0; i < errors.length; i++){%>
              <li>
                <%=errors[i].msg%>
              </li>
              <% } %>
          </ul>
          <% } %>
            <div class="container-login">
              <form action="/login" method="POST" class="loginForm">
                <div class="login">
                  <label>
                    <p class="p-login">EMAIL</p>
                  </label>
                  <input class="input-hijo loginEmail" type="email" name="email" id="loginEmail"
                    placeholder="Email"></input>
                </div>
                <div class="login">

                  <label>
                    <p class="p-login">CONTRASEÑA</p>
                  </label>
                  <input class="input-hijo" type="password" name="password" id="password"
                    placeholder="Contraseña"></input>
                </div>
                <div class="login">
                  <button class="button-login" type="submit">Enviar</button>
                </div>
              </form>
            </div>



      </main>

      <%- include('partials/footer') %>
  </body>

</html>