<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <%- include('partials/headerNavbar') %>
  <main>
    <h1>Ingresa</h1>
    <form action="/login" method="POST">
      <div class="login">
        <input class="input-hijo" type="nombre-usuario" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de Usuario"></input>
      </div>
      <div class="login">
        <input class="input-hijo" type="password" name="password" id="password" placeholder="Contraseña"></input>
      </div>
      <button class="boton-login" type="submit">Enviar</button>
    </form>
  </main>
  <%- include('partials/footer') %>
</body>
</html>