<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/headerNavbar') %>
      <main>
        <h1 class="h1-ingresa">Ingresá</h1>
        <% if (typeof errors !="undefined" ){%>
          <p style="color:red">ERROR</p>
          <ul>
            <% for (let i=0; i < errors.length; i++){%>
              <li>
                <%=errors[i].msg%>
              </li>
              <% } %>
          </ul>
          <% } %>
            <div class="errors">
              <ul>
              </ul>
            </div>
            <div class="container-login">
              <form action="/login" method="POST" class="loginForm" id="formularioLogin">
                <div class="login">
                  <label>
                    <p class="p-login">EMAIL</p>
                  </label>
                  <input class="input-hijo loginEmail" type="email" name="email" id="loginEmail"
                    placeholder="Email"></input>
                </div>
                <div class="login">

                  <label>
                    <p class="p-login">CONTRASEÑA</p>
                  </label>
                  <input class="input-hijo" type="password" name="password" id="loginPassword"
                    placeholder="Contraseña"></input>
                </div>
                <div class="login">
                  <button class="button-login" type="submit">Enviar</button>
                </div>
              </form>
            </div>



      </main>
      <script>
        window.addEventListener("load", function () {
          let formularioLogin = document.querySelector(".loginForm");
          let campoEmail = document.querySelector("#loginEmail");
          let campoPassword = document.querySelector("#loginPassword");
          let errors = []

          campoEmail.onfocus = function (e) {
            console.log('focus en email')
            if (campoEmail.value == "") {             
              errors.push("Este campo es obligatorio")
            }
          }

          campoPassword.onfocus = function (e) {
            console.log("focus en password")
            e.preventDefault();
            if (campoPassword.value == "") {
              errors.push("Este campo es obligatorio")
            }
            if (campoPassword.value.length >= 8) {
              errors.push("La contraseña debe tener al menos 8 caracteres")
            }
          }

          if (errors.length > 0) {
            e.preventDefault();
          };
          let ulErrors = document.querySelector(".errors")
          for (let i = 0; i < errors.length; i++) {
            ulErrors.innnerHTML += "<li>" + errors[i] + "</li>"

          }



        })
      </script>

      <%- include('partials/footer') %>
  </body>

</html>