<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %>

<body>
    
    <%- include('partials/headerNavbar') %>
    <main>
        <div class="titulo-shop">
            <a href="/productos"><h1 class="h1-mujer">Categorías</h1></a>
        </div>
        <div class="div-banner">
            <img class="banner" src="/img/nueva coleccion invierno 2022.webp" alt="banner">
        </div>
        
        <div class="container-padre">
            <a class="a-texanas" href="productos/texanas">
            <div class="banner-altas">
                <img class="img-banner" src="/img/texanas.png" alt="texanas">
            <a href="productos/texanas"><h4 class="h4-mujer">TEXANAS</h4>
            </div>


        </a>
            <div class="flex-column">
                <div class="banner-cortas">
                    <a class="a-texanas" href="/productos/borcegos">
                    <img class="img-banner" src="/img/borsegos.png" alt="borcegos">
                    <a href="./borcegos"><h4 class="h4-mujer">BORCEGOS</h4>
                </div>
            </a>
                <div class="banner-cortas">
                    <a class="a-texanas" href="/productos/zapatillas">
                    <img class="img-banner" src="/img/zapatillas}.png" alt="zapatillas">
                    <a href="./zapatillas"><h4 class="h4-mujer">ZAPAS</h4>
                </div>
            </a>
            </div>
            <div class="banner-altas">
                <a class="a-texanas" href="/productos/botas">
                <img class="img-banner" src="/img/botas.png" alt="botas">
                <a href="/productos/botas"><h4 class="h4-mujer">BOTAS</h4>
            </div>
        </a>
        </div>
    </main>
    <%- include('partials/footer') %>


</body>
</html>