<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>


    <body>

        <%- include('partials/headerNavbar') %>
        <p>
            resultados de tu busqueda:
        </p>


            <%- include('partials/footer') %>
    </body>

</html>