<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %>

<body>
    
    <%- include('partials/headerNavbar') %>

    <main>
        <div class="titulo-shop">
            <p class="shop">Shop/</p>
            <h1>MUJER</h1>
        </div>
        <div class="div-banner">
            <img class="banner" src="/img/nueva coleccion invierno 2022.webp" alt="banner">
        </div>
        <div class="container-padre">
            <div class="banner-altas">
                <img class="img-banner" src="/img/texanas.png" alt="texanas">
                <h4>TEXANAS</h4>
                <button class="button-shop-now">Shop now!</button>
            </div>
            <div class="flex-column">
                <div class="banner-cortas">
                    <img class="img-banner" src="/img/borsegos.png" alt="borcegos">
                    <h4>BORCEGOS</h4>
                    <button class="button-shop-now">Shop now!</button>
                </div>
                <div class="banner-cortas">
                    <img class="img-banner" src="/img/zapatillas}.png" alt="zapatillas">
                    <h4>ZAPATILLAS</h4>
                    <button class="button-shop-now">Shop now!</button>
                </div>
            </div>
            <div class="banner-altas">
                <img class="img-banner" src="/img/botas.png" alt="botas">
                <h4>BOTAS</h4>
                <button class="button-shop-now">Shop now!</button>
            </div>
        </div>
    </main>
    
    <%- include('partials/footer') %>


</body>
</html>