<footer>
    <div class="container-footer">
        <div class="hijos-footer">
            <i class="fas fa-credit-card icons"></i>
            <p class="titulo-footer">3|6 cuotas sin interés</p>
            <p>Ahora 6</p>
        </div>
        <div class="hijos-footer">
            <i class="fas fa-shipping-fast icons"></i>
            <p class="titulo-footer">Envío gratis a partir de $8999</p>
            <p>Recomendamos retiro por sucursal</p>
        </div>
        <div class="hijos-footer">
            <i class="fas fa-percent icons"></i>
            <p class="titulo-footer">15% de descuento</p>
            <p>Abonando con transferencia bancaria</p>
        </div>
    </div>
    <div class="container-footer">
        <div class="newsletter">
            <h6>NEWSLETTER <i class="fas fa-envelope icons"></i></h6>
            <p>¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a disfrutarlas!</p>
            <form action="" method="">
                <input class="input-email" type="email" id="email" name="email" placeholder="E-mail">
                <button class="button-footer" type="submit">Enviar</button>
            </form>
        </div>
        <div class="contacto">
            <h6>CONTACTO<i class="fas fa-phone-alt icons"></i></h6>
            <p class="p-contacto"><i class="fas fa-envelope-square icons"></i> aglupa@calzados.gmail.com</p>
            <p class="p-contacto"><i class="fab fa-whatsapp icons"></i> +54 1167689534</p>
            <p class="p-contacto"><i class="fab fa-instagram icons"></i> aglupa_calzados</p>
        </div>
    </div>
    <div>
        <div class="div-designed">
            <p class="designed">DESIGNED WITH ❤ | BY AGLUPA 2022 |</p>
        </div>
    </div>
</footer>