<header>
    <div class="container-header">
        <div class="logo-header">
            <img src="/img/Aglupablanco.png" alt="logo-header">
        </div>
        <div class="buscador">
            <form action="" method="">
                <input class="barra-busqueda" type="search" id="site-search" name="q" placeholder="Buscar productos,marcas">
                <i class="fas fa-search"></i> 
            </form>
        </div>
        <div class="compra-cuotas">
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <nav>
        <div class="container-nav">
        <ul class="ul-izquierda">
            <li class="hijos-ul-izq"> Ofertas </li>
            <li class="hijos-ul-izq"> Tiendas oficiales </li>
            <li class="hijos-ul-izq"> Vender </li>
            <li class="hijos-ul-izq"> Ayuda </li>
        </ul>
        <ul class="ul-derecha">
            <li class="hijos-ul-derecha"><a href="/register"> Creá tu cuenta </a><i class="far fa-user-circle"></i></li>
            <li class="hijos-ul-derecha"><a href="/login"> Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li class="hijos-ul-derecha"> Mis compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
    </div>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars menu"></i>
    </div>
</header>