<header>
        <div class="container-logo">
            <img class="img-logo" src="/img/Aglupatransp.png" alt="logo-header">
        </div>
        <div class="buscador">
            <form action="/views/productos.ejs" method="get">
                <input class="barra-busqueda" type="search" id="site-search" name="barra-busqueda" placeholder="¿Qué estás buscando?">
                <i class="fas fa-search"></i> 
            </form>
        </div>
        <div class="container-carrito">
            <a class="a-header" href="/shopMujer"><i class="fas fa-shopping-cart carrito"></i></a>
        </div>
    </div>
    <nav>
        <div class="container-nav">
        <ul class="ul-derecha">
            <li class="hijos-ul-derecha"><a class="a-header" href="/">Home</a></li>
            <li class="hijos-ul-derecha"><a class="a-header" href="/shopMujer">Shop</a></li>
            <li class="hijos-ul-derecha"><a class="a-header" href="/registrarte">Registrarse</a></li>
            <li class="hijos-ul-derecha"><a class="a-header" href="/ingresa">Ingresá</a></li>
        </ul>
    </div>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars menu"></i>
    </div>
</header>